{% extends 'base.html' %}

{% block head%}
	<title>Time to do some CRUD</title>
{% endblock %}

{% block body %}
	<h3>Home Page</h3>
	<br>
	<br>
	<div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p>Welcome to the RITC programmer blog. Here we blog about Robotics, Innovation, Transformation and Change. You are gonna love it here. Check back regularly. Namaste</p>
          <p>Join the waitlist of our new product <a href="https://corded.viddateck.com/"> Corded</a>, we developed it to help you develop products and let your recuiters shout oppor for you</p>
          <p>
            <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>

{% endblock %}